<p> Name: <%= @doctor.name %> </p><br>
<p> Department: <%= @doctor.department %></p><br>
<% @doctor.appointments.each do |appt| %>
    <p> <%= link_to(appt.patient.name, appt.patient) + " on #{appt.appointment_datetime.strftime('%B %d, %Y')} at #{appt.appointment_datetime.strftime('%H:%M')}" %> </p> <br>
<% end %>