<h1>Appointment</h1><br>
Patient Name: <%= link_to  @appointment.patient.name, patient_path(@appointment.patient) %>  %><br>
Doctor: <%= link_to  @appointment.doctor.name, doctor_path(@appointment.doctor) %>  %><br>

